input[type=range].slider {
  -webkit-appearance: none;
  width: 150px;
  margin: 0px 0; }

input[type=range].slider:focus {
  outline: none; }

input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: #333;
  border: 1px solid #444;
  border-radius: 0px; }

input[type=range].slider::-webkit-slider-thumb {
  height: 19px;
  width: 7px;
  background: #b17cb6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  box-shadow: 1px 1px 1px #111; }

input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffd6;
  border-radius: 0px; }

input[type=range].slider::-moz-range-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  height: 32px;
  width: 32px;
  border-radius: 4px;
  background: #3071a9;
  cursor: pointer; }

input[type=range].slider::-ms-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range].slider::-ms-fill-lower {
  background: #ffffbd;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range].slider::-ms-fill-upper {
  background: #ffffd6;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range].slider::-ms-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  width: 32px;
  border-radius: 4px;
  background: #3071a9;
  cursor: pointer;
  height: 32px; }

input[type=range].slider:focus::-ms-fill-lower {
  background: #ffffd6; }

input[type=range].slider:focus::-ms-fill-upper {
  background: #fffff0; }

.piano-roll {
  display: flex; }
  .piano-roll .white {
    border: 1px solid #333;
    border-left: none; }
    .piano-roll .white:first-child {
      border-left: 1px solid #333; }
  .piano-roll .white {
    background: #fff;
    height: 200px;
    width: 50px; }
    .piano-roll .white.down {
      background: #ededed; }
  .piano-roll .csharp, .piano-roll .dsharp, .piano-roll .fsharp, .piano-roll .gsharp, .piano-roll .asharp, .piano-roll .csharp2, .piano-roll .dsharp2, .piano-roll .fsharp2, .piano-roll .gsharp2, .piano-roll .asharp2,
  .piano-roll .csharp3, .piano-roll .dsharp3, .piano-roll .fsharp3, .piano-roll .gsharp3, .piano-roll .asharp3 {
    background: #333;
    height: 120px;
    box-shadow: 1px 1px 1px #000;
    border: 1px solid #111;
    width: 25px;
    position: absolute; }
    .piano-roll .csharp.down, .piano-roll .dsharp.down, .piano-roll .fsharp.down, .piano-roll .gsharp.down, .piano-roll .asharp.down, .piano-roll .csharp2.down, .piano-roll .dsharp2.down, .piano-roll .fsharp2.down, .piano-roll .gsharp2.down, .piano-roll .asharp2.down,
    .piano-roll .csharp3.down, .piano-roll .dsharp3.down, .piano-roll .fsharp3.down, .piano-roll .gsharp3.down, .piano-roll .asharp3.down {
      background: #222; }
  .piano-roll .csharp {
    left: 44px; }
  .piano-roll .dsharp {
    left: 97px; }
  .piano-roll .fsharp {
    left: 200px; }
  .piano-roll .gsharp {
    left: 250px; }
  .piano-roll .asharp {
    left: 300px; }
  .piano-roll .csharp2 {
    left: 400px; }
  .piano-roll .dsharp2 {
    left: 450px; }
  .piano-roll .fsharp2 {
    left: 550px; }
  .piano-roll .gsharp2 {
    left: 600px; }
  .piano-roll .asharp2 {
    left: 650px; }
  .piano-roll .csharp3 {
    left: 750px; }
  .piano-roll .dsharp3 {
    left: 800px; }
  .piano-roll .fsharp3 {
    left: 900px; }
  .piano-roll .gsharp3 {
    left: 950px; }
  .piano-roll .asharp3 {
    left: 1000px; }

.btn {
  display: inline-block;
  padding: 5px;
  border: 1px solid;
  cursor: pointer;
  margin: 0 5px; }
  .btn.selected {
    background: greenyellow; }

.btn-group {
  margin: 10px; }
  .btn-group .slider {
    display: flex; }
    .btn-group .slider label {
      vertical-align: super;
      width: 70px;
      padding-right: 10px; }
    .btn-group .slider > span {
      vertical-align: bottom;
      padding-left: 10px; }

.oscillators {
  display: flex; }

.oscillator {
  padding: 10px;
  background: floralwhite;
  width: 400px;
  margin: 10px;
  border: 1px solid #fff2d7;
  box-shadow: 1px 1px 2px #f1ede5; }

.canvas {
  padding: 10px;
  background: #fff2d7;
  width: 95%;
  display: none; }

.hidden-input {
  display: none; }

.clickeable {
  cursor: pointer; }

.small-input {
  position: relative;
  z-index: 500;
  width: 40px; }
