.oscillator {
  position: relative;
  padding: 10px;
  background: floralwhite;
  width: 400px;
  margin: 10px;
  border: 1px solid darken(floralwhite, 5%);
  box-shadow: 1px 1px 2px desaturate(darken(floralwhite, 5%), 70%);
}
