@import 'inputs';

.on-off-container {
  position: absolute;
  right: 0px;
  top: -10px;
  .btn {
    padding: 5px 30px;
    background: floralwhite;
    border: 1px solid darken(floralwhite, 4%);
    box-shadow: 1px 0px 5px darken(floralwhite, 70%);
  }
}
.btn {
  display: inline-block;
  padding: 5px;
  border: 1px solid;
  cursor: pointer;
  margin: 0 5px;
  &.selected {
    background: greenyellow;
  }
}
.btn-group {
  margin: 10px;
  .slider {
    display: flex;
    label {
      vertical-align: super;
      width: 70px;
      padding-right: 10px;
    }
    > span {
      vertical-align: bottom;
      padding-left: 10px;
    }
  }
}

.oscillators {
  display: flex;
}

.canvas {
  padding: 10px;
  background: darken(floralwhite, 5%);
  width: 95%;
  display: none;
}

.hidden-input {
  display: none;
}

.clickeable {
  cursor: pointer;
}

.small-input {
  position: relative;
  z-index: 500;
  width: 40px;
}

.container-rack {
  padding: 40px 0 10px;
  background: repeating-linear-gradient(-95deg, rgba(51,34,21,.8) 3px, rgba(57,37,23,.8) 10px, rgba(62,42,23,.8) 4px, rgba(41, 28, 15, 0.8) 10px),
  rgba(29, 12, 4,.9);
  position: relative;
  margin: 20px 0;
  border: 2px solid #000;
  border-radius: 3px;
  .title {
    color: floralwhite;
    position: absolute;
    font-size: 25px;
    top: -8px;
    left: 15px;
    text-shadow: -1px -1px 1px #000, 1px 1px 2px #333;
  }
}
