.oscillator {
  position: relative;
  padding: 10px;
  background: floralwhite;
  width: 400px;
  margin: 10px;
  border: 1px solid darken(floralwhite, 5%);
}
.on-off-container {
  position: absolute;
  left: 0;
  top: -20px;
  .btn {
    padding: 5px 30px;
    background: floralwhite;
  }
}
