.on-off-container {
  position: absolute;
  right: -1px;
  top: -21px;
  background: floralwhite;
  padding: 8px 3px 0 4px;
  border-radius: 1px;
  .btn {
    padding: 5px 10px;
    background: darken(floralwhite, 5%);
    border: 1px solid darken(floralwhite, 10%);
  }
}
