$keywidth: 50px;

.piano-roll-container {
  position: relative;
  position: fixed;
  bottom: 0;
  left: 20px;
  right: 20px;
  width: 1070px;
  margin: 0 auto 0;
  padding-top: 70px;
  background-color: floralwhite;
  border: 2px solid #333;
  border-bottom: none;
  background: linear-gradient(floralwhite, darken(floralwhite, 13%));

  .octave-buttons {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 300px;
  }

  .key-name {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 100px;
    text-align: center;
    background: darksalmon;
    color: darkslategrey;
    padding: 10px;
    font-size: 14px;
    font-family: Monospaced;
    box-shadow: inset 1px 1px 1px #111;
    border: 1px solid darken(floralwhite, 10%);
  }
}

.piano-roll {
  display: flex;
  .white {
    border: 1px solid #333;
    border-left: none;
    &:first-child {
      border-left: 1px solid #333;
    }
  }
  .white {
    background: #f3f3f3;
    height: 200px;
    width: $keywidth;
    &.down {
      background: #fff;
      box-shadow: inset 1px 1px 1px #ccc;
    }
  }
  .csharp, .dsharp, .fsharp, .gsharp, .asharp, .csharp2, .dsharp2, .fsharp2, .gsharp2, .asharp2,
  .csharp3, .dsharp3, .fsharp3, .gsharp3, .asharp3
  {
    background: #333;
    height: 130px;
    box-shadow: 1px 1px 1px #000;
    border: 1px solid #111;
    width: $keywidth / 2;
    position: absolute;
    &.down {
      background: #222;
    }
  }
  .csharp {
    left: $keywidth - 13;
  }
  .dsharp {
    left: $keywidth * 2 - 12;
  }
  .fsharp {
    left: $keywidth * 4 - 10;
  }
  .gsharp {
    left: $keywidth * 5 - 9;
  }
  .asharp {
    left: $keywidth * 6 - 9;
  }
  .csharp2 {
    left: $keywidth * 8 - 7;
  }
  .dsharp2 {
    left: $keywidth * 9 - 6;
  }
  .fsharp2 {
    left: $keywidth * 11 - 4;
  }
  .gsharp2 {
    left: $keywidth * 12 - 2;
  }
  .asharp2 {
    left: $keywidth * 13 - 1;
  }
  .csharp3 {
    left: $keywidth * 15;
  }
  .dsharp3 {
    left: $keywidth * 16 + 2;
  }
  .fsharp3 {
    left: $keywidth * 18 + 3;
  }
  .gsharp3 {
    left: $keywidth * 19 + 4;
  }
  .asharp3 {
     left: $keywidth * 20 + 6;
  }
}
